In [22]:
import pandas as pd

In [23]:
train = pd.read_excel("data/train.xlsx")
train

            dt  Цена на арматуру
0   2015-01-05             32900
1   2015-01-12             32500
2   2015-01-19             32000
3   2015-01-26             30700
4   2015-02-02             30300
..         ...               ...
395 2022-08-01             47500
396 2022-08-08             49000
397 2022-08-15             47500
398 2022-08-22             46500
399 2022-08-29             46000

[400 rows x 2 columns]

In [24]:
test = pd.read_excel("data/test.xlsx")
test

           dt  Цена на арматуру
0  2022-09-05             46000
1  2022-09-12             46000
2  2022-09-19             46000
3  2022-09-26             45500
4  2022-10-03             45500
5  2022-10-10             45000
6  2022-10-17             44000
7  2022-10-24             43000
8  2022-10-31             42000
9  2022-11-07             41500
10 2022-11-14             41000
11 2022-11-21             40000
12 2022-11-28             40000
13 2022-12-05             40500
14 2022-12-12             41700
15 2022-12-19             41700
16 2022-12-26             42500
17 2023-01-02             42700
18 2023-01-09             42700
19 2023-01-16             42700
20 2023-01-23             42800
21 2023-01-30             42800
22 2023-02-06             44500
23 2023-02-13             44500
24 2023-02-20             46000
25 2023-02-27             49200
26 2023-03-06             53700
27 2023-03-13             55500

что-то както мало

In [25]:
# ch = pd.read_excel("Ch.xlsx")
# ch